In [1]:
import sys
sys.path.insert(0, '../')

import pandas as pd

In [2]:
from src.get_data import ScrapeData

In [3]:
years = [2023]

with ScrapeData() as scrape_data:
    nfl_df = scrape_data.get_data(years)

All results from the specified timeframe have been saved.

In [4]:
from src.create_nfl_table import CreateNflTable

In [5]:
with CreateNflTable() as create_nfl_table:
    nfl_teams_df = create_nfl_table.create_nfl_table()
    score_table = create_nfl_table.create_score_table(nfl_df)
    nfl_df = create_nfl_table.create_final_score_table(score_table, nfl_teams_df)

/Users/rafaelbandoni/Documents/git/bolao-dos-brothers/notebooks/../src/create_nfl_table.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pts_winner'] = df['pts_winner'].astype('int')
/Users/rafaelbandoni/Documents/git/bolao-dos-brothers/notebooks/../src/create_nfl_table.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pts_loser'] = df['pts_loser'].astype('int')
/Users/rafaelbandoni/Documents/git/bolao-dos-brothers/notebooks/../src/create_nfl_table.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Pontos"] = df.apply(self.calcular_pontos, axis=1)
/Users/rafaelbandoni/Documents/git/bolao-dos-brothers/notebooks/../src/create_nfl_table.py:77: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_winner_final = df_winner.groupby('winner', as_index=False).sum()[['winner', 'Pontos']]
/Users/rafaelbandoni/Documents/git/bolao-dos-brothers/notebooks/../src/create_nfl_table.py:86: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ties_final = df_1.append(df_2)
/Users/rafaelbandoni/Documents/git/bolao-dos-brothers/notebooks/../src/create_nfl_table.py:88: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_winner_final.append(df_ties_final).groupby('team', as_index=False).sum()

In [6]:
picks23 = pd.read_csv('../data/picks23.csv')

In [7]:
from src.picks_points import PicksPoints

In [15]:
with PicksPoints() as pck_points:
    merged_df = pck_points.join_picks_and_points(picks23, nfl_df)
    final_df = pck_points.create_point_per_player_table(merged_df.fillna(0))

In [16]:
final_df.sort_values('pts', ascending=False).reset_index(drop=True)

   player   pts
0   DUDIS  78.0
1   CERJO  69.0
2    RAFO  63.0
3     JÃO  57.0
4     ROD  57.0
5    NETO  54.0
6  CARLOS  51.0